<template name="chat">
  {{#contentFor "navButtonLeft"}}
    {{> backBtn}}
  {{/contentFor}}

  {{#contentFor "navTitle"}}
    <h1 class="title">Chat</h1>
  {{/contentFor}}

  {{#contentFor "navButtonRight"}}
    <button class="btn btn-link btn-nav pull-right edit-btn">
      Edit
    </button>
  {{/contentFor}}

  <div class="bar bar-standard bar-footer">
    <form>
      <input placeholder="Your reply..." type="search">
      <input type="submit" value="Send">
    </form>
  </div>

  <div class="content">
    <div class="message-list">
      {{#each getLimitedMessages}}
        {{> messageRow message=this fromUser=(getUserData ../chat.fromUserId) toUser=(getUserData ../chat.toUserId) }}
      {{/each}}
    </div>
  </div>
</template>