.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.hashtag {
  font-weight: bold;
}

.caption {
  text-align: justify;
}

.item-list {

  .item {
    margin-bottom: 20px;

    .item-header {
      padding: 10px;
      display: table;

      .avatar {
        display: table-cell;
      }

      .user {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        width: 100%;

        p {
          margin-bottom: 0px;
        }
      }

      .moment {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .item-body {

      .product {
        max-width: 100%;
        display: block;
        margin: auto;
      }
    }

    .item-footer {
      padding: 10px;
    }
  }
}


