// Fixed ratchet's bug
.bar-tab ~ .content {
  bottom: 50px;
  padding-bottom: 0;
}

.bar-nav ~ .content {
  top: 44px;
  padding-top: 0;
}

.bar-header-secondary ~ .content {
  top: 88px;
  padding-top: 0;
}

.bar-footer ~ .content {
  bottom: 44px;
  padding-bottom: 0;
}

.toggle {
  cursor: pointer;
}

// Overriding default
h1, h2, h3, h4, h5, p {
  margin-bottom: 0;
}

// Grid
.row {
  display: flex;
}

.row + .row {
  margin-top: 5px;
}

.column {
  flex: 1 1 auto;
}

// Padding
.padding {
  padding: 10px;
}

// Reusable classes
.avatar {
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.hashtag {
  font-weight: bold;
}

.overlay {
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
}

.img-responsive {
  max-width: 100%;
  display: block;
  margin: auto;
}

.fa-icon {
  width: 30px;
  font-size: 20px;
  text-align: center;
}

// Feed
.item-list {

  .item {
    margin-bottom: 20px;

    .item-header {
      display: table;

      .user-picture {
        display: table-cell;
        vertical-align: middle;

        .avatar {
          width: 50px;
          height: 50px;
        }
      }

      .user-info {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        width: 100%;
      }

      .created-at {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .item-body {
      position: relative;

      .price {
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
      }

      .name {
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
    }

    .item-footer {
      .description {
        text-align: justify;
      }
    }
  }
}

// Profile
.statistics {
  display: table;

  .picture {
    display: table-cell;
    vertical-align: top;

    .avatar {
      width: 75px;
      height: 75px;
    }
  }

  .summary {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 20px;
    text-align: center;

    .edit-btn {
      padding: 8px;
      font-size: 14px;
    }
  }
}

.about {
  padding-top: 0;
}

// Listing
.listing-grid {

  .item {
    float: left;
    width: 33%;
    margin: 1px 0;

    &:nth-child(3n+2) {
      margin: 1px;
    }
  }
}

// Message
.chat-list {
  .item {
    display: table;
    border-bottom: 1px solid #DDD;

    .user {
      display: table-cell;
      vertical-align: top;

      .avatar {
        width: 50px;
        height: 50px;
      }
    }

    .message {
      display: table-cell;
      width: 100%;
      vertical-align: top;
      padding-left: 10px;
      padding-right: 10px;
    }

    .product {
      display: table-cell;
      vertical-align: top;

      .thumbnail {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.message-list {

  .item {
    display: table;

    .user {
      display: table-cell;
      vertical-align: top;
      min-width: 50px;

      .avatar {
        width: 50px;
        height: 50px;
      }
    }

    .message {
      padding-left: 10px;
      display: table-cell;
      vertical-align: middle;
      width: 100%;

      .bubble {
        border: 1px solid #ddd;
        padding: 5px 10px;
        border-radius: 5px;

        .moment {
          text-align: right;
        }
      }
    }

    .me {
      display: table-cell;
      vertical-align: bottom;
      min-width: 50px;

      .avatar {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.item-upload {

  .item-basic {
    display: table;

    .image {
      display: table-cell;
      vertical-align: top;

      .thumbnail {
        width: 100px;
        height: 100px;
      }
    }
    .name {
      padding-left: 10px;
      display: table-cell;
      vertical-align: top;
      width: 100%;
    }
  }

  .item-optional {
    textarea {
      resize: vertical;
    }
  }

  input, textarea {
    padding: 0;
  }

  .label {
    padding-bottom: 10px;
  }
}

.canvas {
  position: relative;
  overflow: hidden;


  .image-layer {
    width: 100%;
    height: auto;
    display: block;
  }

  .crop-layer {
    width: 70%;
    height: 0;
    padding-bottom: 70%;
    border: 1px dashed red;
    position: absolute;
    left: 0;
    top: 0;
    cursor: move;
    box-shadow: 0px 0px 0px 999px rgba(0,0,0,0.5);
  }
}

.profile-form {
  .fieldset {
    padding: 10px;

    .legend {
      padding-bottom: 10px;
    }
  }

  .profile-name-avatar {
    display: table;

    .name {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      padding-right: 20px;
    }

    .image {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .avatar {
        width: 50px;
        height: 50px;
      }
    }
  }

  .input-area {
    display: table;

    .label {
      display: table-cell;
      vertical-align: middle;
    }

    .input {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }

    textarea {
      resize: vertical;
    }
  }  
}