<template name="discovery">
  {{#contentFor "navTitle"}}
    {{> discoveryTabs}}
  {{/contentFor}}

  <div class="bar bar-standard bar-header-secondary">
    <form>
      <input placeholder="Search" type="search">
    </form>
  </div>

  <div class="content">
    <div class="listing-grid">
      {{>listingCell}}
      {{>listingCell}}
      {{>listingCell}}
      {{>listingCell}}
      {{>listingCell}}
      {{>listingCell}}
      {{>listingCell}}
      {{>listingCell}}
      {{>listingCell}}
    </div>
  </div>
</template>