<template name="upload">
  {{#contentFor "navButtonLeft"}}
    {{> backBtn}}
  {{/contentFor}}

  {{#contentFor "navTitle"}}
    <h1 class="title">List Your Item</h1>
  {{/contentFor}}


  <div class="content">
    <form class="upload-form">
      <div class="upload-item-photo">
        <img class="thumbnail" src="{{ getSessionImage }}">
      </div>
      <ul class="table-view">
        <li class="table-view-cell table-view-divider">Basic Information</li>
        <li class="table-view-cell table-view-cell-input">
          <div class="label">
            <i class="fa-icon fa fa-tag"></i>
          </div>
          <div class="input">
            <input type="text" name="name" placeholder="Item name">
          </div>
        </li>
        <li class="table-view-cell table-view-cell-input">
          <div class="label">
            <i class="fa-icon fa fa-usd"></i>
          </div>
          <div class="input">
            <input type="number" name="price" placeholder="Price">
          </div>
        </li>
        <li class="table-view-cell table-view-divider">Optional Information</li>
        <li class="table-view-cell table-view-cell-input">
          <div class="label">
            <i class="fa-icon fa fa-map-marker"></i>
          </div>
          <div class="input">
            <input type="text" name="location" placeholder="Location">
          </div>
        </li>
        <li class="table-view-cell table-view-cell-input">
          <div class="label">
            <i class="fa-icon fa fa-info-circle"></i>
          </div>
          <div class="input">
            <textarea name="description" placeholder="Description" rows="5"></textarea>
          </div>
        </li>
        <li class="table-view-cell table-view-divider">Share</li>
        <li class="table-view-cell">
          <i class="fa-icon fa fa-facebook"></i>
          Facebook
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li class="table-view-cell">
          <i class="fa-icon fa fa-instagram"></i>
          Instagram
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        </li>
      </ul>
      <div class="padding">
        <button type="submit" class="btn btn-positive btn-block submit-btn">Submit</button>
      </div>
    </form>
  </div>
</template>