<template name="chatRow">
  <a href="{{pathFor route='chat'}}" class="item padding">
    {{#with  user=(getUserData fromUserId) chat=this}}
      <div class="user">
        <img class="avatar" src="{{user.avatar}}">
      </div>

      <div class="message">
        <p class="username">{{user.username}}</p>
        <p class="body">{{chat.lastMessage.text}}</p>
        <p class="time">{{getFormattedTimestamp chat.lastMessage.timestamp}}</p>
      </div>

      {{#with item=(getItemData chat.itemId)}}
        <div class="product">
          <img class="thumbnail" src="{{item.image}}">
        </div>
      {{/with}}
    {{/with}}
  </a>
</template>