<template name="profile">
  {{#contentFor "navTitle"}}
    <h1 class="title">Your Profile</h1>
  {{/contentFor}}

  {{#contentFor "navButtonRight"}}
    <button class="btn btn-link btn-nav pull-right">
      <span class="icon icon-gear"></span>
    </button>
  {{/contentFor}}


  <div class="content">
    <section class="statistics padding">
      <div class="picture">
        <img class="avatar" src="{{currentUser.profile.avatar}}">
      </div>
      <div class="summary">
        <div class="row">
          <div class="column">
            <h4>{{currentUser.numPosts}}</h4>

            <p>posts</p>
          </div>
          <div class="column">
            <h4>{{currentUser.numFollowers}}</h4>

            <p>followers</p>
          </div>
          <div class="column">
            <h4>{{currentUser.numFollowing}}</h4>

            <p>following</p>
          </div>
        </div>
        <div class="row">
          <a class="btn btn-block edit-btn" href="#">Edit Profile</a>
        </div>
      </div>
    </section>
    <section class="about padding">
      <p class="username">{{currentUser.username}}</p>

      <p class="introduction">{{currentUser.profile.intro}}</p>
    </section>

    <section class="listing-grid">
      {{#each getOrderedListings}}
        {{> listingCell this}}
      {{/each}}
    </section>
  </div>
</template>