<template name="settings">
  {{#contentFor "navButtonLeft"}}
    {{> backBtn}}
  {{/contentFor}}

  {{#contentFor "navTitle"}}
    <h1 class="title">Settings</h1>
  {{/contentFor}}

  <div class="content">
    <ul class="table-view">
      <li class="table-view-cell table-view-divider">Account</li>
      <li class="table-view-cell">
        <a href="{{pathFor route='profile.update'}}" class="navigate-right profile-btn">
          <i class="fa-icon fa fa-pencil-square-o"></i>
          Update Profile
        </a>
      </li>
      <li class="table-view-cell">
        <a href="#" class="navigate-right logout-btn">
          <i class="fa-icon fa fa-sign-out"></i>
          Logout
        </a>
      </li>
      <li class="table-view-cell table-view-divider">Automatic Sharing</li>
      <li class="table-view-cell toggle-facebook">
        <i class="fa-icon fa fa-facebook"></i>
        Facebook
        {{#if currentUser.settings.facebookShare}}
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        {{else}}
          <div class="toggle">
            <div class="toggle-handle"></div>
          </div>
        {{/if}}
      </li>
      <li class="table-view-cell toggle-instagram">
        <i class="fa-icon fa fa-instagram"></i>
        Instagram
        {{#if currentUser.settings.instagramShare}}
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        {{else}}
          <div class="toggle">
            <div class="toggle-handle"></div>
          </div>
        {{/if}}
      </li>
    </ul>
  </div>
</template>