<template name="itemRow">
  <div class="item">
    <div class="item-header padding">
      {{#with user=(getUserDetails item.userId)}}
        <a class="user-picture" href="#">
          <img class="avatar" src="{{user.avatar}}">
        </a>

        <div class="user-info">
          <p class="username"><a href="#">{{user.username}}</a></p>

          <p class="location">{{item.location}}</p>
        </div>
      {{/with}}
      <div class="created-at">
        <p class="moment">{{getFormattedTimestamp item.createdAt}}</p>
      </div>
    </div>
    <div class="item-body">
      <img class="img-responsive thumbnail" src="{{item.picture}}">

      <span class="overlay price">${{getFormattedPrice item.askingPrice}}</span>
      <span class="overlay name">{{item.name}}</span>
    </div>
    <div class="item-footer padding">
      <p class="category">
        {{#each item.hashtags}}
          <a class="hashtag" href="#">{{this}}</a>
        {{/each}}
      </p>

      <p class="description">{{item.description}}</p>
    </div>
  </div>
</template>