<template name="itemRow">
  <div class="item">
    <div class="item-header">
      <a href="#">
        <img class="avatar" src="http://placehold.it/50x50">
      </a>

      <div class="user">
        <p class="username"><a href="#">romyngo</a></p>

        <p class="description">An trustworthy seller</p>
      </div>

      <p class="moment">2m</p>
    </div>
    <div class="item-body">
      <img class="product img-responsive" src="http://placehold.it/360x360">
    </div>
    <div class="item-footer">
      <p class="category"><a class="hashtag" href="#">#category1</a> <a class="hashtag" href="#">#category2</a></p>

      <p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore. Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</template>